:root {
  --background-color: #101010;
  --text-color: #f9d679;
  --second-text-color: #fefefe;
}

.dark-theme {
  --background-color: #fefefe;
  --text-color: #d33e43;
  --second-text-color: #101010;
}

a {
  text-decoration: none;
  color: var(--second-text-color);
}

h1 {
  position: relative;
  color: var(--second-text-color);
  font-size: 50px;
  padding: 10px 0;
}

h2 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, var(--second-text-color), var(--text-color));
  font-size: 30px;
  padding: 10px 0;
  width: 13ch;
  animation: typing 2s steps(13), blink 0.4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--text-color);
  animation-delay: 0.5s;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--second-text-color);
}

h4 {
  font-size: 12.5px;
  padding: 10px 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* 1840 1370*/
.wrapper {
  position: relative;
  max-width: 1840px;
  margin: 0 auto;
}
.wrapper #darkMode-icon {
  position: fixed;
  top: 7%;
  right: 7%;
  font-size: 30px;
  cursor: pointer;
}

/* Header */
.header {
  position: fixed;
  margin: 0 auto;
  max-width: 1370px;
  padding: 0 187px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: nowrap;
  padding-top: 35px;
}
.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
}
.header__menu-item {
  margin-left: 35px;
  font-size: 12.5px;
  font-weight: 600;
}
.header__menu-item a {
  opacity: 0.4;
  transition: 0.5s;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header__menu-item a:hover {
  opacity: 1;
  transition: 0.5s;
}
.header__logo-github {
  width: 38px;
}

.active {
  color: var(--second-text-color);
  transition: 0.5s;
  opacity: 1 !important;
  border-bottom: 3px solid var(--text-color) !important;
  transition: 0.5s;
}

#menu-icon {
  font-size: 30px;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.logo__text {
  position: relative;
  color: var(--text-color);
  font-size: 17.5px;
  font-weight: 600;
}
.logo__text-first {
  color: var(--second-text-color);
}
.logo__text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: 120%;
  background: var(--background-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

/* home 440*/
.home {
  display: none;
  padding-top: 210px;
  max-width: 730px;
  margin: 0 auto;
  font-weight: 600;
  min-height: 100vh;
}
.home__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: nowrap;
}
.home__avatar img {
  border: 4px solid var(--text-color);
  border-radius: 50%;
  width: 370px;
  height: 370px;
  cursor: pointer;
  filter: drop-shadow(0 0 50px var(--text-color));
  transition: 0.5s;
}
.home__avatar img:hover {
  background: var(--background-color);
  opacity: 0.9;
  filter: drop-shadow(0 0 150px var(--text-color));
  transition: 0.5s;
}

.about {
  display: none;
  margin: 0 auto;
  max-width: 1370px;
  padding: 100px 187px 0;
}
.about__introduction {
  max-width: 1370px;
  border: 3px solid var(--second-text-color);
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
}
.about__introduction-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: nowrap;
}
.about__introduction-heading-line {
  height: 2px;
  width: 250px;
  margin-left: 10px;
  background-color: var(--second-text-color);
}
.about__introduction-main {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: nowrap;
  padding: 20px 10px 10px 50px;
  max-width: 1000px;
  margin: 0 auto;
}
.about__introduction-main img {
  border: 2px solid var(--text-color);
  border-radius: 50%;
  width: 230px;
  cursor: pointer;
  filter: blur(4px);
  transition: 0.4s;
}
.about__introduction-main img:hover {
  filter: blur(0);
  transition: 0.4s;
}
.about__introduction-main span {
  padding-left: 60px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
}
.about__introduction-main span p {
  font-size: 20px;
  padding-bottom: 8px;
}
.about__skills {
  margin-top: 30px;
  padding: 30px 0 30px;
  border: 3px solid var(--text-color);
  border-radius: 5px;
}
.about__skills-heading {
  margin: 0 0 30px 30px;
  border-left: 4px solid var(--second-text-color);
  padding-left: 10px;
}
.about__skills-list {
  max-width: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.about__skills-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: nowrap;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2px;
  padding-left: 15px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.about__skills-list-item #icon-html,
.about__skills-list-item #icon-css,
.about__skills-list-item #icon-js,
.about__skills-list-item #icon-python,
.about__skills-list-item #icon-cpp,
.about__skills-list-item #icon-postgresql {
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}
.about__skills-list-item:hover {
  background-color: var(--text-color);
  border: 2px solid var(--second-text-color);
  color: var(--second-text-color);
  transition: 0.5s;
}
.about__skills-list__javascript {
  margin: 0;
}

.pg-active {
  display: block;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 6% 6%;
  }
  .header__menu,
  .header #logo-github {
    display: none;
  }
  .header #menu-icon {
    display: block;
  }
  .home {
    padding-top: 130px;
  }
  .home__inner {
    flex-direction: column-reverse;
  }
  .home__avatar img {
    width: 70%;
    height: 70%;
    margin: 20px auto 0;
  }
  .home__introduction {
    text-align: center;
    margin-top: 50px;
  }
  .about {
    padding: 6%;
  }
  .about__introduction-heading-line {
    display: none;
  }
  .about__introduction-main {
    padding: 0;
    flex-direction: column;
  }
  .about__introduction-main span {
    padding: 50px;
    text-align: center;
  }
  .about__skills {
    height: auto;
  }
  .about__skills-list {
    grid-template-columns: 1fr 1fr;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes showRight {
  100% {
    width: 0;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, var(--second-text-color), var(--text-color));
  border-radius: 50px;
}

/*# sourceMappingURL=style.css.map */
